<h1>Account confirmation instructions:</h1>

Thank you for signing up! To complete your registration and activate your account, please confirm your email by clicking the link below:

<a href=<%= @confirmation_link %>>Confirm Your Account</a>

For security reasons, this link will expire in <strong>24 hours</strong>. If you didn’t create this account, you can safely ignore this email.

If you have any questions, feel free to contact our support team.

Best,
Yet another e-shop
support@anothereshop.gmail.com